# Dependencies
node_modules/
package-lock.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Dossiers natifs générés
/ios
/android

# Metro
.metro-health-check*

# Native (certificats, keystores)
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Environnement
.env
.env.*
.env*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
**/.DS_Store
*.swp
*~

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Tests
coverage/

# Build
build/
